build/
iso/
efi/
*.o
*.a
*.bin
*.iso
munix.bin
mUnix.iso
mUnix-kernel.bin
mUnix-kernel-noblob.bin
embedded_blobs.h
lexbor/
liblexbor.a
lexbor.tar.gz
lexbor_build.sh
disk.img
*.img
*.fd
*.bak
*.bak.*
*.bak-*
kernel.cold
kernel.c.bak.*
kernel.c.bak*
boot.asm.bak*
linker.ld.bak*
Makefile.bak*
gui.rs
gui/target/
*.swp
*~
.DS_Store
*.log
