set timeout=3
set default=0
set gfxmode=1280x720x32
set gfxpayload=keep

insmod efi_gop
insmod all_video
insmod part_gpt
insmod part_msdos
insmod fat
insmod search
insmod search_fs_file
insmod search_label
insmod multiboot2

# Найти ESP по метке MUNIXESP и сделать корнем
search --no-floppy --label MUNIXESP --set=root

menuentry "mUnix v0.8.1 (64-bit UEFI)" {
    multiboot2 /boot/KERNEL.BIN
    boot
}

menuentry "Reboot" { reboot }
menuentry "Shut down" { halt }
